body{
    background-color: grey;
    
}

#jumbledWord{
    font-size: 150%;
}

#info{
    padding: 10px;
    padding-right: 80%;
}




#possWords{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 85px);
    justify-content: center;
    padding: 10px;
}

.slot{
    background-color:whitesmoke;
    border: 1px solid rgb(0, 0, 0, 0.8);
    height: 30px;
    text-align: center;
    font-size: large;  
}